{% extends 'base.html' %}
<!-- extends the base.html template and loads the static files. -->
{% load static %}

<!-- {% block head_title %}
Hot&Cup | Home
{% endblock %} -->

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row bg-light my-5 p-3 rounded">

    <div class="row mt-4">
      <div class="col bg-info text-white rounded p-3">
        <h2>Payment Result</h2>
        <div>
        Payment ID: {{ pi }}
            </div>

          <div>
        Status: {{ rs }}
              </div>
          <br>
        <a href="/"><button class="btn btn-secondary btn-lg">Go to Home Page</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}