{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Hot&Cup</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->


        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">
              All Products
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Coffee
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Coffee Beans</a></li>
            <li><a class="dropdown-item" href="#">Ground Coffee</a></li>
            <li><a class="dropdown-item" href="#">Decaffeinated Coffee</a></li>
            <li><a class="dropdown-item" href="#">Instant Coffee</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">All Coffee</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hot Chocolate
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">White Chocolate</a></li>
            <li><a class="dropdown-item" href="#">Dark Chocolate</a></li>
            <li><a class="dropdown-item" href="#">Salted Caramel Chocolate</a></li>
            <li><a class="dropdown-item" href="#">Vegan Chocolate</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">All Chocolate</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tea
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">White Tea</a></li>
            <li><a class="dropdown-item" href="#">Green Tea</a></li>
            <li><a class="dropdown-item" href="#">Oolong Tea</a></li>
            <li><a class="dropdown-item" href="#">Herbal Tea</a></li>
            <li><a class="dropdown-item" href="#">Jasmine Tea</a></li>
            <li><a class="dropdown-item" href="#">Chai Tea</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">All Tea</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gifts</a>
        </li>
      </ul>

      <form class="d-flex" method="GET" action="">
        <input
          class="form-control me-2"
          type="text"
          name="q"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-2">
        <!-- User Account Link -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>&nbsp;
            {% if request.user.is_authenticated %}
              My Account
            {% else %}
              Login / Register
            {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <!-- Shopping Bag Link -->
        <li class="nav-item">
          <a class="nav-link" href="" class="nav-link {% if items_in_cart %}text-info {%else%} text-light{% endif %}" aria-label="Review your cart and order before making a purchase">
            <i class="fa-solid fa-bag-shopping"></i>&nbsp;Shopping Bag</a
          >
          {% if product_count > 0 %}
              <span class="cart-counter text-muted">{{product_count}}</span>
          {% endif %} 
            <p class="my-0{% if cart_total %} {% endif %}">
              <!-- Display the shopping bag total with two decimal places-->
              {% if shopping_bag_total %}
                  €{{ shopping_bag_total|floatformat:2 }}  
              {% else %}
              <!-- Display €0.00 when there are no items in the shopping bag -->
              €0.00
              {% endif %}
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Free Delivery banner-->
<div id="delivery-banner" class="row text-center">
  <div class="col bg-black text-white">
      <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
  </div>
</div>
