{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Hot&Cup</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->


        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">
              All Products
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Coffee
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'products' %}?category=coffee_beans" class="dropdown-item">Coffee Beans</a></li>
            <li><a href="{% url 'products' %}?category=ground_coffee" class="dropdown-item">Ground Coffee</a></li>
            <li><a href="{% url 'products' %}?category=decaffeinated_coffee" class="dropdown-item">Decaffeinated Coffee</a></li>
            <li><a href="{% url 'products' %}?category=instant_coffee" class="dropdown-item">Instant Coffee</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a href="{% url 'products' %}?category=coffee_beans,ground_coffee,decaffeinated_coffee,instant_coffee" class="dropdown-item">All Coffee</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hot Chocolate
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'products' %}?category=white_chocolate" class="dropdown-item">White Chocolate</a></li>
            <li><a href="{% url 'products' %}?category=dark_chocolate" class="dropdown-item">Dark Chocolate</a></li>
            <li><a href="{% url 'products' %}?category=salted_caramel_chocolate" class="dropdown-item">Salted Caramel Chocolate</a></li>
            <li><a href="{% url 'products' %}?category=vegan_chocolate" class="dropdown-item">Vegan Chocolate</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a href="{% url 'products' %}?category=white_chocolate,dark_chocolate,salted_caramel_chocolate,vegan_chocolate" class="dropdown-item">All Chocolate</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tea
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'products' %}?category=white_tea" class="dropdown-item">White Tea</a></li>
            <li><a href="{% url 'products' %}?category=green_tea" class="dropdown-item">Green Tea</a></li>
            <li><a href="{% url 'products' %}?category=oolong_tea" class="dropdown-item">Oolong Tea</a></li>
            <li><a href="{% url 'products' %}?category=herbal_tea" class="dropdown-item">Herbal Tea</a></li>
            <li><a href="{% url 'products' %}?category=jasmine_tea" class="dropdown-item">Jasmine Tea</a></li>
            <li><a href="{% url 'products' %}?category=chai_tea" class="dropdown-item">Chai Tea</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a href="{% url 'products' %}?category=white_tea,green_tea,oolong_tea,herbal_tea,jasmine_tea,chai_tea" class="dropdown-item">All Tea</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
        </li>
      </ul>

      <form class="d-flex" method="GET" action="{% url 'products' %}">
        <input
          class="form-control me-2"
          type="text"
          name="q"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-2">
        <!-- User Account Link -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>&nbsp;
            <span class="hider-on-md">
            {% if request.user.is_authenticated %}
              My Account
            {% else %}
              Login / Register
            {% endif %}
            </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <!-- Shopping Bag Link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_bag' %}" class="nav-link {% if items_in_cart %}text-info {%else%} text-light{% endif %}" aria-label="Review your cart and order before making a purchase">
            <i class="fa-solid fa-bag-shopping"></i>&nbsp;<span class="hider-on-md">Shopping Bag {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
              <!-- Display €0.00 when there are no items in the shopping bag -->
                / €0.00
                {% endif %}
          </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Free Delivery banner-->
<div id="delivery-banner" class="row text-center">
  <div class="col bg-black text-white">
      <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
  </div>
</div>
